<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Query the Student!!!</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/search">Search</a>
            </li>

        </ul>
    </div>
</nav>
<h2>Search for the student!</h2>
<form  method="post">
    <label >Select the field you want to search with:</label>
    <select name="field" id="field">
        <option value="first_name">first_name</option>
<!--        <option value="last_name">last_name</option>-->
        <option value="college">college</option>
        <option value="course">course</option>
<!--        <option value="email">email</option>-->
<!--        <option value="gender">gender</option>-->
<!--        <option value="state">state</option>-->
<!--        <option value="city">city</option>-->
    </select>
    <br>
    <br>

    <div class="value1">
        <label >Enter the value</label>
        <input type="text" class="form-control"  name="value1" id="value1" required />
    </div>
    <br>
    <br>

    <input type="submit" value="Submit" name="search_btn">
    <br>
    <br>
    <br>
    <table border = 1>
        {% for student in studentDetails %}
        <tr>
            <td> {{student[0]}} </td>
            <td> {{student[1]}} </td>
            <td> {{student[2]}} </td>
            <td> {{student[3]}} </td>
            <td> {{student[4]}} </td>
            <td> {{student[5]}} </td>
            <td> {{student[6]}} </td>
            <td> {{student[7]}} </td>
            <td> {{student[8]}} </td>
        </tr>
        {% endfor %}
    </table>
</form>
</body>
</html>